{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Las Vegas</span>
                                        <br>
                                        <span class="subtitle">29° F</span>
                                        <br> thunderstorm with heavy rain
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weatherfront/landingView.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <h1 class="titleClass">What's the weather?</h1>
        </section>
        <section class="content-wrapper">
            {% if city_name and temperature and description %}
            <div class="box weather-card">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title">{{ city_name }}</span>
                                <br>
                                <span class="subtitle">{{ temperature }}°C</span>
                                <br> {{ description }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {% endif %}

            {% if forecast_data %}
            <div class="box weather-card">
                <article class="media">
                    {% for forecast in forecast_data %}
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title">{{ city_name }}</span>
                                <br>
                                <span class="subtitle">{{ forecast.temperature }}°C</span>
                                <br> {{ forecast.description }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </article>
            </div>
            {% endif %}
            <div id="openweathermap-widget-11" style="display: block;"></div>
            <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];

                window.myWidgetParam.push({id: 11,
                                           cityid: '4984692',
                                           appid: 'ec89e109b7a73c54730dc161274ba56a',
                                           units: 'metric',
                                           containerid: 'openweathermap-widget-11',  });  
                (function() {var script = document.createElement('script');
                script.async = true;script.charset = "utf-8";

                script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                var s = document.getElementsByTagName('script')[0];

                s.parentNode.insertBefore(script, s);  })();
            </script>
        </section>
    </div>
</body>
</html>